.container {
  // margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  width: 320px;
  padding: 25px;
}
.title {
  margin-bottom: 30px;
  font-size: 35px;
  // margin-top: 15px;
}
.title:hover,
.title:focus {
  color: #03e9f4;
}
