.inputBox {
  position: relative;
}

.inputContent {
  width: 100%;
  padding: 10px 0 10px 10px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.inputLabel {
  padding: 10px 0;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.inputContent:focus,
.inputContent:hover {
  background-color: #044f53;
}

.inputButton {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 30px;
  letter-spacing: 4px;
  border-radius: 5px;
}

.inputButton:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4,
    0 0 50px #03e9f4;
}

