.listButton {
  background-color: rgba(0, 0, 0, 0.5);
  // display: inline-block;
  margin-left: 25px;
  padding: 5px 10px;
  color: #03e9f4;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  // margin-top: 30px;
  letter-spacing: 4px;
  border-radius: 5px;
}

.listButton:hover {
  background: #03e9f4;
  color: #fff;
  // border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4,
    0 0 50px #03e9f4;
}
.listContacts {
  margin-bottom: 10px;
}
// .contact{
// }
